@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  width: 100%;
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: #fff;
  background-image: url("./assets/image/bg-weather\ \(1\).png");
  background-repeat: no-repeat;
  background-size:cover;
}

@media(max-width:930px){
  body{
    background-image: url("./assets/image/bg-weather.png");
  }
}

@media(max-width:620px){
  body{
    background-image: url("./assets/image/bg-weather (2).png");
  }
}
